body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.HackerImg {
  border-radius: 0.5rem;
  background-color: #896a33;
  margin: 0.5rem;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  width: 10rem;
}
.HackerImg:hover {
  margin: 0.25rem;
  border: 0.25rem solid green;
}
.HackerImg:active {
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.7);
}
.Hacker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Hackers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
